* {box-sizing: border-box;}

fieldset {
	padding: 20px;
	border: 2px solid black;
	float: left; width: 32%;
}

legend {
	font-size: 1.2em;
	background-color: violet;
}

label {
	display:block;
	background-color: navy;
	padding: 5px;
}

input[type="text"] {
	border: 1px solid black;
	width: 200px;
	padding: 5px;
	margin: 10px 0 0 0;
}

#type {
	margin: 10px 0 10px 0;
	
}

input[type="submit"] {
	border: 1px solid black;
	background-color: lightgrey;
	padding: 10px;
	display: block;
	margin: 10px auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 30px 0 0 0;
}

table tr td, table tr th {
	padding: 10px 0;
	text-align: center;
} 

table tr:first-child {
  background-color: #e8bb41 !important;
  border-bottom: 3px solid black;
}

table tr:nth-child(even) {
  background-color: red;
}

table tr:nth-child(odd) {
  background-color: lightgrey;
}

span.icon {
	display: inline-block; width: 40px; height: 40px;
	background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
}
	
span.iconDog {
	background-image: url("spazio.jpg");
}

span.iconCat {
	background-image: url("../images/cat.png");
	background-size: 90%;
}

span.iconLion {
	background-image: url("../images/lion.png");
}

div.clear {clear:both;}