* {
	
  box-sizing:border-box
}
body {
  width:100%
}
table {

  border-collapse: collapse;
  border: 5px solid black;
  width: 70%;
  margin: 40px auto;
}

table tr td, table tr th {
  padding: 10px 0;
  text-align: center;
} 

table tr:first-child {
  background-color: #e8bb41 !important;
  border-bottom: 3px solid black;
}

table tr:nth-child(even) {
  background-color: tomato;
}

table tr:nth-child(odd) {
  background-color: lightgrey;
}
